.cabecalho__navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.cabecalho-logo-titulo {
    display: flex;
    align-items: center;
    gap: .8em;
    margin-left: 6em;
}

.cabecalho__titulo {
    font-size: 18px;
    color: var(--cinza-escuro);
    font-weight: 500;
}
.cabecalho__lista {
    display: flex;
    gap: 2.2em;
    margin-right: 35em;
}

.cabecalho__lista-link {
    color: var(--cinza-claro);
}

.cabecalho__login {
    display: flex;
    gap: 2.5em;
    align-items: center;
}

.cabecalho__cadastrar {
    color: var(--cor-de-fundo-primaria);
    background: var(--vermelho-vinho);
    padding: .8em 1.5em;
    border-radius: 12px;
}

.cabecalho__lista-link:hover {
    color: var(--vermelho-vinho);
}